*{

    font-family: 'Roboto', sans-serif;

}
:root{

    --light-green: #61f2f5;
    --dark-gray: #434a50;
    --light-gray: #e6e9ed;
    --medium-gray: #656d78;
    --gray: #ccd1d9;
    --dark: #23282d;
    --lila: #ac92ec;
    --green: #a0d468;
    --white: #fff;

    --sm: 12px;
    --md: 16px;
    --lg: 24px;
    
}
body{

    margin: 0;
    padding: 0;
}

/* HEADER  */

.header-container{

    width: 100%;
    height: 60px;
    background-color: var(--light-green);
    display: grid;
    grid-template-rows: 1fr;
    align-content: center;
}

.header-container .social-media-cont{

    display: grid;
    grid-template-columns: 60px 60px 60px;
    justify-content: end;

}

.header-container .social-media-cont .icon{

    display: grid;
    grid-template-columns: 1fr;
    place-self: center;
}

.social-media-logo{

    width: 35px;
    height: 35px;
}

/* SECTION STYLES  */

section{

    width: 100vw;
    height: 100vh;
    background-image: url("./assets/images/Cover.png");
    background-position: center;
    background-size: cover;

}
.main-container{

    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    
}
.main-container .container-logo{

    display: grid;
    place-items: center ;
}
.main-container .container-logo img{

    width: 200px;
    place-self: center;
    
}

.main-container .about-container{

    place-self: center;
    
}

.main-container .about-container a{

    color: var(--white);
    font-size: var(--lg);
    text-decoration: none;
    

}

.main-container .main-text-container{

    
    grid-column: 1 / 4;
}

.main-container .main-text-container p{

    font-size: 50px;
    color: var(--white);
    text-align: center;
    font-weight: bold;
}

.main-container .button-container{

    background-color: var(--light-green);
    border-radius: 8px;
    height: 80px;
    width: 200px;
    cursor: pointer;
    display: grid;
    place-items: center;
    place-self: center;
    grid-column: 1 / 4;
    transition: all ease-in-out 0.3s;
    
}

.main-container .button-container a{

    font-size: var(--lg);
    color: var(--white);
    text-align: center;
    text-decoration: none;
    
}




@media (min-width:900px) {

    .main-container .container-logo img{

        width: 400px;

    }

    .main-container .about-container a{

        font-size: 40px;
    }

    .main-container .about-container a:hover{

        text-decoration: underline;
        text-underline-offset: 10px;
        cursor: pointer;
    }
    
    .main-container .button-container:hover{

        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.3);

    }
}
